{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>

    hr{
        margin-bottom: 0px !important;
    }

    .row{
        margin-top: 3px !important;
    }

    #canvas-wrap {
        position:relative;
        height:600px;
        width:800px;
        float: left;
    }

    #canvas-wrap canvas {
        position:absolute; top:0; left:0;
        border: 1px solid #c3c3c3;
        z-index: -1;
        height: 500px;
        width: 800px;
        background: rebeccapurple;
    }

    #detailsSection{

    }

    .dashboard-section{
        float: left;
        width: 100%;
    }

    .tile {
        z-index: 3;
        border: 1px solid #00ff92;
        height: 72px;
        width: 160px;
        top: 27px;
        margin-bottom: 27px;
        left: 30px;
        margin-left: 27px;
        margin-right: 27px;
        position: relative;
        float: left;
    }

    .tile-icon-div{
        width: 60px;
        float: left;
    }

    #wakeup {
        background: #FFDE00;
    }

    #wakeup img.tile-icon {
        background-image: url('/static/activities/wake-up.png');
        width: 66px;
        height: 70px;
        background-position: 0px 5px;
    }

    #brushTeeth {
        background: #00ffde;
        width: 200px !important;
    }

    #brushTeeth img.tile-icon {
        background-image: url('/static/activities/brush-teeth.png');
        width: 66px;
        height: 70px;
        background-position: 1px 1px;
    }

    #meditate {
        background: #d81bda;
        width: 180px !important;
    }

    #meditate img.tile-icon {
        background-image: url('/static/activities/meditate.png');
        width: 66px;
        height: 66px;
        background-position: 0px 1px;
    }

    #sleep {
        background: #939393;
    }

    #sleep img.tile-icon {
        background-image: url('/static/activities/sleep.png');
        width: 66px;
        height: 70px;
        background-position: 0px 5px;
    }

    .tile-text-div{
        width: 80px;
        float: left;
    }

    .tile-text {
        position: relative;
        top: 9px;
        left: 20px;
        height: 30px;
        width: 60px;
        display: block;
        word-wrap: break-word;
        white-space: nowrap;
        font-family: monospace;
        font-size: larger;
    }

    .tile-text-main {
        font-weight: bold;
        font-size: 18px;
    }

    .tile-text-sub {
        font-size: 14px;
    }

    .dashboard-nav-button {
        float: left;
        margin-right: 6px;
        margin-left: 18px;
    }

    .dashboard-nav-button-text {
        border: 1px solid rebeccapurple;
    }

    #nav-tiles h5 {
        padding: 9px 12px 9px 12px;
    }

    #nav-timeline h5 {
        padding: 9px 12px 9px 12px;
    }

    #nav-location h5 {
        padding: 9px 16px 9px 16px;
    }

</style>
<div class="container" ng-app="digitalDiary">
  <h4> Dashboard </h4>
  <hr>
    <div class="row dashboard-section">
        <div id="nav-tiles" class="dashboard-nav-button">
            <h5 class="dashboard-nav-button-text">Tiles</h5>
        </div>
        <div id="nav-timeline" class="dashboard-nav-button">
            <h5 class="dashboard-nav-button-text">Timeline</h5>
        </div>
        <div id="nav-location" class="dashboard-nav-button">
            <h5 class="dashboard-nav-button-text">Location</h5>
        </div>
    </div>
    <div class="row dashboard-section">
        <div class="col-md-6">
            <!-- Canvas that displays the Activity Visualizer -->
            <div id="canvas-wrap">
                <canvas></canvas>
                <div id="wakeup" class="tile">
                    <div class="tile-icon-div">
                        <img class="tile-icon">
                    </div>
                    <div class="tile-text-div">
                        <div class="">
                            <span class="tile-text tile-text-main">Wake Up</span>
                        </div>
                        <div class="">
                            <span class="tile-text tile-text-sub">6:00 am</span>
                        </div>
                    </div>
                </div>
                <div id="sleep" class="tile">
                    <div class="tile-icon-div">
                        <img class="tile-icon">
                    </div>
                    <div class="tile-text-div">
                        <div class="">
                            <span class="tile-text tile-text-main">Sleep</span>
                        </div>
                        <div class="">
                            <span class="tile-text tile-text-sub">10:30 pm</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detailsSection">

            </div>
        </div>
    </div>
</div>
<script id="canvasTileTemplate" type="text/x-jsrender">
    {% verbatim %}
    <div id="{{:canvasTileId}}" class="tile">
        <div class="tile-icon-div">
            <img class="tile-icon">
        </div>
        <div class="tile-text-div">
            <div class="">
                <span class="tile-text tile-text-main">{{:tileMainText}}</span>
            </div>
            <div class="">
                <span class="tile-text tile-text-sub">{{:tileSubText}}</span>
            </div>
        </div>
    </div>
    {% endverbatim %}
</script>
<script type="text/javascript">

    /* Page load handler to initialize data */
    $(document).ready(function () {
        initializeCanvasTiles();
    });

    /* Initialize tiles on Canvas */
    function initializeCanvasTiles() {
        var canvasDiv = $("#canvas-wrap");

        var canvasTileData = [
          {
              "canvasTileId": "wakeup",
              "tileMainText": "Wake Up",
              "tileSubText": "6:00 am"
          },
          {
              "canvasTileId": "brushTeeth",
              "tileMainText": "Brush Teeth",
              "tileSubText": "6:15 am"
          },
          {
              "canvasTileId": "meditate",
              "tileMainText": "Meditate",
              "tileSubText": "6:30 am"
          },
          {
              "canvasTileId": "sleep",
              "tileMainText": "Sleep",
              "tileSubText": "10:30 pm"
          }
        ];

        var canvasTileTemplate = $.templates("#canvasTileTemplate");

        var htmlOutput = canvasTileTemplate.render(canvasTileData);

        canvasDiv.append(htmlOutput);
    }

</script>
{% endblock %}