{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
    #canvas-wrap {
        position:relative;
        height:600px;
        width:800px;
    }

    #canvas-wrap canvas {
        position:absolute; top:0; left:0;
        border: 1px solid #c3c3c3;
        z-index: -1;
        height: 500px;
        width: 800px;
        background: rebeccapurple;
    }

    .tile {
        z-index: 3;
        border: 1px solid #00ff92;
        height: 72px;
        width: 160px;
        top: 27px;
        left: 30px;
        margin-right: 30px;
        position: relative;
        float: left;
    }

    .tile-icon-div{
        width: 60px;
        float: left;
    }

    #wakeup {
        background: #FFDE00;
    }

    #wakeup img.tile-icon {
        background-image: url('/static/activities/wake-up.png');
        width: 66px;
        height: 70px;
        background-position: 0px 5px;
    }

    #sleep {
        background: #939393;
    }

    #sleep img.tile-icon {
        background-image: url('/static/activities/sleep.png');
        width: 66px;
        height: 70px;
        background-position: 0px 5px;
    }

    .tile-text-div{
        width: 80px;
        float: left;
    }

    .tile-text {
        position: relative;
        top: 9px;
        left: 20px;
        height: 30px;
        width: 60px;
        display: block;
        word-wrap: break-word;
        white-space: nowrap;
        font-family: monospace;
        font-size: larger;
    }

    .tile-text-main{
        font-weight: bold;
        font-size: 18px;
    }

    .tile-text-sub{
        font-size: 14px;
    }

</style>
<div class="container">
  <h4> Dashboard </h4>
  <hr>
    <div class="row">
        <div class="col-md-6">
            <!-- Canvas that displays the Activity Visualizer -->
            <div id="canvas-wrap">
                <canvas></canvas>
                <div id="wakeup" class="tile">
                    <div class="tile-icon-div">
                        <img class="tile-icon">
                    </div>
                    <div class="tile-text-div">
                        <div class="">
                            <span class="tile-text tile-text-main">Wake Up</span>
                        </div>
                        <div class="">
                            <span class="tile-text tile-text-sub">6:00 am</span>
                        </div>
                    </div>
                </div>
                <div id="sleep" class="tile">
                    <div class="tile-icon-div">
                        <img class="tile-icon">
                    </div>
                    <div class="tile-text-div">
                        <div class="">
                            <span class="tile-text tile-text-main">Sleep</span>
                        </div>
                        <div class="">
                            <span class="tile-text tile-text-sub">10:30 pm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}