{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>

    hr{
        margin-bottom: 0px !important;
    }

    .row{
        margin-top: 3px !important;
    }

    #canvas-wrap {
        position:relative;
        height:500px;
        width:850px;
        float: left;
    }

    #canvas-wrap canvas {
        position:absolute; top:0; left:0;
        border: 1px solid #c3c3c3;
        z-index: -1;
        height: 500px;
        width: 800px;
        background: rebeccapurple;
    }

    #detailsSection{
        position: relative;
        height: 500px;
        width: 290px;
        float: left;
        background: beige;
    }

    #detailsSectionHeading{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 20px;
    }

    #detailsSectionBody{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 18px;
    }

    .detailsSectionConversation{
        margin-top: 10px;
        font-size: 18px;
    }

    #chatWindow{
        position: fixed;
        width: 290px;
        height: 105px;
        background-color: chartreuse;
        margin-top: 350px;
        margin-left: 850px;
    }

    #chatWindowStrip{
        position: fixed;
        width: 290px;
        height: 35px;
        background-color: chartreuse;
        margin-top: 450px;
        margin-left: 850px;
    }

    #chatWindowTextArea{
        margin: 15px 15px 10px 20px;
        width: 250px;
        height: 84px;
    }

    .dashboard-section{
        float: left;
        width: 100%;
    }

    .tile {
        z-index: 3;
        border: 1px solid #00ff92;
        height: 69px;
        width: 160px;
        top: 27px;
        margin-bottom: 27px;
        left: 30px;
        margin-left: 27px;
        margin-right: 27px;
        position: relative;
        float: left;
    }

    .tile-icon-div{
        width: 60px;
        float: left;
    }

    #wakeup {
        background: #FFDE00;
    }

    #wakeup img.tile-icon {
        background-image: url('/static/activities/wake-up.png');
        width: 66px;
        height: 66px;
        background-position: 1px 5px;
    }

    #toilet {
        background: #dff0d8;
    }

    #toilet img.tile-icon {
        background-image: url('/static/activities/toilet.png');
        width: 66px;
        height: 66px;
        background-position: 1px 1px;
    }

    #brushTeeth {
        background: #ccc;
        width: 200px !important;
    }

    #brushTeeth img.tile-icon {
        background-image: url('/static/activities/brush-teeth.png');
        width: 66px;
        height: 66px;
        background-position: 1px 1px;
    }

    #meditate {
        background: #d81bda;
        width: 180px !important;
    }

    #meditate img.tile-icon {
        background-image: url('/static/activities/meditate.png');
        width: 66px;
        height: 66px;
        background-position: 1px 1px;
    }

    #bath {
        background: #5abcec;
    }

    #bath img.tile-icon {
        background-image: url('/static/activities/bath.png');
        width: 66px;
        height: 66px;
        background-position: 0px 1px;
    }

    #breakfast {
        background: #ffa700;
        width: 180px !important;
    }

    #breakfast img.tile-icon {
        background-image: url('/static/activities/breakfast.png');
        width: 66px;
        height: 66px;
        background-position: 1px 1px;
    }

    #sleep {
        background: #939393;
    }

    #sleep img.tile-icon {
        background-image: url('/static/activities/sleep.png');
        width: 66px;
        height: 66px;
        background-position: 1px 12px;
    }

    .tile-text-div{
        width: 80px;
        float: left;
    }

    .tile-text {
        position: relative;
        top: 9px;
        left: 20px;
        height: 30px;
        width: 60px;
        display: block;
        word-wrap: break-word;
        white-space: nowrap;
        font-family: monospace;
        font-size: larger;
    }

    .tile-text-main {
        font-weight: bold;
        font-size: 18px;
    }

    .tile-text-sub {
        font-size: 14px;
    }

    .dashboard-nav-button {
        float: left;
        margin-right: 6px;
        margin-left: 18px;
    }

    .dashboard-nav-button-text {
        border: 1px solid rebeccapurple;
    }

    #nav-tiles h5 {
        padding: 9px 12px 9px 12px;
    }

    #nav-timeline h5 {
        padding: 9px 12px 9px 12px;
    }

    #nav-location h5 {
        padding: 9px 16px 9px 16px;
    }

</style>
<div class="container" ng-app="digitalDiary">
  <h4> Dashboard </h4>
  <hr>
    <div class="row dashboard-section">
        <div id="nav-tiles" class="dashboard-nav-button">
            <h5 class="dashboard-nav-button-text">Tiles</h5>
        </div>
        <div id="nav-timeline" class="dashboard-nav-button">
            <h5 class="dashboard-nav-button-text">Timeline</h5>
        </div>
        <div id="nav-location" class="dashboard-nav-button">
            <h5 class="dashboard-nav-button-text">Location</h5>
        </div>
    </div>
    <div class="row dashboard-section">
        <div class="">
            <!-- Canvas that displays the Activity Visualizer -->
            <div id="canvas-wrap">
                <canvas></canvas>
                <!--<div id="wakeup" class="tile">
                    <div class="tile-icon-div">
                        <img class="tile-icon">
                    </div>
                    <div class="tile-text-div">
                        <div class="">
                            <span class="tile-text tile-text-main">Wake Up</span>
                        </div>
                        <div class="">
                            <span class="tile-text tile-text-sub">6:00 am</span>
                        </div>
                    </div>
                </div>
                <div id="sleep" class="tile">
                    <div class="tile-icon-div">
                        <img class="tile-icon">
                    </div>
                    <div class="tile-text-div">
                        <div class="">
                            <span class="tile-text tile-text-main">Sleep</span>
                        </div>
                        <div class="">
                            <span class="tile-text tile-text-sub">10:30 pm</span>
                        </div>
                    </div>
                </div>-->
            </div>
            <!-- Details Section besides the Canvas -->
            <div id="detailsSection">
                <div id="detailsSectionHeading"></div>
                <div id="detailsSectionBody"></div>
            </div>
        </div>
        <div id="chatWindow">
            <textarea id="chatWindowTextArea"> </textarea>
        </div>
        <div id="chatWindowStrip"> Click here to chat! </div>
    </div>
</div>
<script id="canvasTileTemplate" type="text/x-jsrender">
    {% verbatim %}
    <div id="{{:canvasTileId}}" class="tile">
        <div class="tile-icon-div">
            <img class="tile-icon">
        </div>
        <div class="tile-text-div">
            <div class="">
                <span class="tile-text tile-text-main">{{:tileMainText}}</span>
            </div>
            <div class="">
                <span class="tile-text tile-text-sub">{{:tileSubText}}</span>
            </div>
        </div>
    </div>
    {% endverbatim %}
</script>
<script type="text/javascript">

    /* Global Page Variables */
    var userName = 'Sachin';

    /* Page load handler to initialize data */
    $(document).ready(function () {
        /* Initialize the Annyang Speech Recognition Library */
        initializeAnnyang();

        /* Initialize tiles on Canvas */
        initializeCanvasTiles();

        /* Initialize the chat window */
        initializeChatWindow();
    });

    /* Initialize the chat window */
    var initializeChatWindow = function () {
        /* Handler for Chat Window Strip Click event. Triggered whenever user clicks on the Chat Window Strip Div. */
        $("#chatWindowStrip").click(function () {
            $("#chatWindow").toggle();
        });
        /* Handler for Input Text area. Triggered whenever user changes the input text. */
        $("#chatWindowTextArea").bind('keypress keyup keydown blur', function () {
            debugger;
            var inputText = $("#chatWindowTextArea").text();
            veronikaHandler(inputText);
        });
    }

    /* Initialize tiles on Canvas */
    function initializeCanvasTiles() {
        var canvasDiv = $("#canvas-wrap");

        var canvasTileData = [
          {
              "canvasTileId": "wakeup",
              "tileMainText": "Wake Up",
              "tileSubText": "6:00 am"
          },
          {
              "canvasTileId": "toilet",
              "tileMainText": "Toilet",
              "tileSubText": "6:05 am"
          },
          {
              "canvasTileId": "brushTeeth",
              "tileMainText": "Brush Teeth",
              "tileSubText": "6:15 am"
          },
          {
              "canvasTileId": "meditate",
              "tileMainText": "Meditate",
              "tileSubText": "6:30 am"
          },
          {
              "canvasTileId": "bath",
              "tileMainText": "Bath",
              "tileSubText": "6:45 am"
          },
          {
              "canvasTileId": "breakfast",
              "tileMainText": "Breakfast",
              "tileSubText": "7:30 am"
          },
          {
              "canvasTileId": "sleep",
              "tileMainText": "Sleep",
              "tileSubText": "10:30 pm"
          }
        ];

        var canvasTileTemplate = $.templates("#canvasTileTemplate");

        var htmlOutput = canvasTileTemplate.render(canvasTileData);

        canvasDiv.append(htmlOutput);
    }

    /* Initialize the Annyang Speech Recognition Library */
    function initializeAnnyang()
    {
        if (annyang) {
            // Let's define our first command. First the text we expect, and then the function it should call
            var commands = {
                'show me *command': shownMeHandler,
                'pingo *command': pingoHandler,
                'veronika *command': veronikaHandler
            };

            // Add our commands to annyang
            annyang.addCommands(commands);

            // Start listening. You can call this here, or attach this call to an event, button, etc.
            annyang.start();
        }
    }

    /* Handlers for annyang commands */

    var shownMeHandler = function (command) {
        $("#detailsSectionHeading").text("Show me...");

        /* Display what the user said */
        var textToDisplay = userName + ': ' + command;
        $("#detailsSectionBody").text(textToDisplay);
    }

    var pingoHandler = function (command) {

        /* Initialize Agent Context */
        var agentContext = {};
        agentContext.agentName = "Pingo";
        agentContext.agentAge = "6";

        /* Function level variables */
        var textToDisplay = '';

        /* Set the Detail Section Heading */
        $("#detailsSectionHeading").text(agentContext.agentName + " Listening...");

        /* Clear Conversations from the Details Section Div */
        clearConversations();

        /* Initiate conversation with User */
        initiateConversation(command, agentContext);
    }

    var veronikaHandler = function (command) {

        /* Initialize Agent Context */
        var agentContext = {};
        agentContext.agentName = "Veronika";
        agentContext.agentAge = "26";

        /* Function level variables */
        var textToDisplay = '';

        /* Set the Detail Section Heading */
        $("#detailsSectionHeading").text(agentContext.agentName + " Listening...");

        /* Clear Conversations from the Details Section Div */
        clearConversations();

        /* Initiate conversation with User */
        initiateConversation(command, agentContext);
    }

    /* Agent Conversation Methods */

    /* Initiate conversation with User */
    var initiateConversation = function (command, agentContext) {
        /* Display what the user said */
        textToDisplay = userName + ': ' + command;
        addConversationToDetailsSection(textToDisplay);

        /* Respond to the user */
        textToDisplay = agentContext.agentName + ": " + interpretCommand(command, agentContext);
        addConversationToDetailsSection(textToDisplay);
    }

    var addConversationToDetailsSection = function (textToDisplay) {
        /* Create a new Div with the text to display and append it to Details Section Body Div */
        var div = document.createElement('div');
        $(div).addClass("detailsSectionConversation")
            .html(textToDisplay)
            .appendTo($("#detailsSectionBody"))
    }

    /* Clear conversations from the Details Section Div */
    var clearConversations = function () {
        /* Clear the contents of the Section Body Div */
        $("#detailsSectionBody").empty();
    }

    /* Agent Language Interpretation Methods */

    var interpretCommand = function (command, agentContext) {
        var responseText = "I did not understand, could you repeat?";

        /* Try to match phrases */
        if (command.includes("who are you")) {
            responseText = "I am " + agentContext.agentName + ", an Intelligent Personal Assistant.";
        }

        if (command.includes("what is your age")) {
            switch (agentContext.agentName) {
                case "Pingo":
                    responseText = "I am " + agentContext.agentAge + ", years old.";
                    break;
                case "Veronika":
                    responseText = "I am " + agentContext.agentAge + ", years young.";
            }
        }

        if (command.includes("say something")) {
            responseText = "Blah Blah Blah... You see Garbage in... Garbage Out !!!";
        }

        if (command.includes("sing a song")) {
            switch (agentContext.agentName) {
                case "Pingo":
                    responseText = "Ring-a-ring o' roses, A pocket full of posies, A-tishoo! A-tishoo! We all fall down";
                    break;
                case "Veronika":
                    responseText = "Posche Posche Paradesi Nenu Foreign Nunchi Vachesaanu ...Ringa Ringa Ringa Ringa Ringa Ringa Ringa Ringa Reeee";
            }
        }

        return responseText;
    }

</script>
{% endblock %}