{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
	/* CSS for Idea Container */
	.idea-container {
		/* height: 222px; */
		/* Ensure Height is auto-adjusted as per elements in the Idea Container */
		height: auto;
		width: 300px;
		margin: 12px;
		position: relative;
		float: left;
		/* Border for Idea Container */
		border: 2px solid;
		border-color: rgba(127,255,0,1);
	}

		.idea-container:hover {
			/* Display Pointer on Mouse Hover */
			cursor: pointer;
			/* Display Bluish Background Color */
			background-color: rgba(153,50,204,.1);
		}

		.idea-container .idea-header {
			/* Green Color For Idea Container Header */
			background-color: rgba(127,255,0,0.85);
			height: 60px;
		}

			.idea-container .idea-header .idea-icon {
				float: left;
				margin: 10px 5px 5px 5px;
			}

				.idea-container .idea-header .idea-icon img {
					height: 45px;
					width: 45px;
				}

			.idea-container .idea-header .idea-header-text {
				float: left;
				margin: 10px 5px;
				/* Clip the Header Text Beyond 198px width */
				width: 231px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: clip;
			}

				.idea-container .idea-header .idea-header-text span {
					font-size: 27px;
					font-weight: 600;
					font-family: Segoe UI Light;
				}

		.idea-container .idea-sub-header {
			height: 60px;	
		}
	
		.idea-container .idea-sub-header .idea-sub-header-text {
			margin: 0px 5px;
		}

			.idea-container .idea-sub-header .idea-sub-header-text span {
				margin: 10px 5px;
				float: left;
				/* Font Specification */
				font-size: 14px;
				font-weight: 400;
				font-family: Segoe UI;
				/* Restrict Height to 2 lines */
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 20px;
				max-height: calc(2*20px);
			}
	
		#ideaModal .modal-content {
			position: fixed;
    			top: 36%;
    			left: 36%;
    			height: 200px;
    			width: 400px;	
		}
	
	/* CSS for Idea Modal Container */
	.idea-modal-container {
		margin: 5px;	
	}
	
	.idea-modal-container .idea-header {
		background-color: rgba(127,255,0,0.85);
    		height: 60px;	
	}
	
	.idea-modal-container .idea-header .idea-icon {
		float: left;
    		margin: 10px 5px 5px 5px;	
	}
	
	.idea-modal-container .idea-header .idea-icon img {
		height: 45px;
    		width: 45px;	
	}
	
	.idea-modal-container .idea-header .idea-header-text {
		float: left;
    		margin: 10px 5px;
    		width: 231px;
    		white-space: nowrap;
    		overflow: hidden;
    		text-overflow: clip;	
	}
	
	.idea-modal-container .idea-header .idea-header-text span {
		font-size: 27px;
    		font-weight: 600;
    		font-family: Segoe UI Light;	
	}
	
	.idea-modal-container .idea-sub-header {
		height: 60px;	
	}
	
	.idea-modal-container .idea-sub-header .idea-sub-header-text {
		margin: 0px 5px;	
	}
	
	.idea-modal-container .idea-sub-header .idea-sub-header-text span {
		margin: 10px 5px;
    		float: left;
    		font-size: 14px;
    		font-weight: 400;
    		font-family: Segoe UI;
    		overflow: hidden;
    		text-overflow: ellipsis;
    		line-height: 20px;
    		max-height: calc(2*20px);	
	}
	
</style>

<div class="container">
	<hr>
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-send"></span> Ideas </h3>
			<!-- TODO: Add awesome code here! -->
		</div>
	</div> <!-- row -->
</div>
<div class="container">
	<div class="idea-main-container">
		<div class="idea-row">
			<div id="1" class="idea-container">
				<div class="idea-header">
					<div class="idea-icon">
						<img src="/static/activities/wake-up.png"/>
					</div>
					<div class="idea-header-text">
						<span title="SABI">SABI</span>
					</div>
				</div>
				<div class="idea-sub-header">
					<div class="idea-sub-header-text">
						<span title="The Global Conglomerate that controls the world">The Global Conglomerate that controls the world</span>
					</div>
				</div>
			</div>
			<div id="2" class="idea-container">
				<div class="idea-header">
					<div class="idea-icon">
						<img src="/static/activities/wake-up.png" />
					</div>
					<div class="idea-header-text">
						<span title="NIK">NIK</span>
					</div>
				</div>
				<div class="idea-sub-header">
					<div class="idea-sub-header-text">
						<span title="Natural Intermediate Knowledge">Natural Intermediate Knowledge</span>
					</div>
				</div>
			</div>
		</div>
		<div id="ideaModal" class="modal">
			<!-- Modal content -->
  			<div class="modal-content">
    				<div id="idea-modal-close" class="close">×</div>
    				<p class="idea-modal-text"></p>
  			</div>
		</div>
		<div id="ideaModalDialog" title="Idea Details">
			<div class="idea-modal-container">
				<div class="idea-header">
					<div class="idea-icon">
						<img src="/static/activities/wake-up.png"/>
					</div>
					<div class="idea-header-text">
						<span title="SABI">SABI</span>
					</div>
				</div>
				<div class="idea-sub-header">
					<div class="idea-sub-header-text">
						<span title="The Global Conglomerate that controls the world">The Global Conglomerate that controls the world</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	
	var ideasCollection = [];
	
	/* Add SABI Idea to the collection */
	var sabiIdea = {
            	"ideaId": "1",
            	"ideaIconRef": "/static/activities/wake-up.png",
            	"ideaHeaderText": "SABI",
	    	"ideaSubHeaderText": "The Global Conglomerate that controls the world"
        };
	    
	/* Append the new Activity to the Canvas Tile Data */
        ideasCollection["1"] = sabiIdea;
	
	
		
	/* Page load handler to initialize data */
	$(document).ready(function () {
		/* Click Handler for Idea Container */
		$(".idea-container").click(function (e) {
			/*Fetch Idea Container Id */
        		var id = $(e.currentTarget)[0].id;
			
			var currentIdea = ideasCollection[id];
			if(currentIdea)
			{
				/* Update the Idea Modal Fields */
				//$(".idea-modal-text").text(currentIdea.ideaHeaderText);
				
				/* Update the fields of JQuery Modal Dialog */
				//TODO
				
				/* Display the Modal Window */
				//$("#ideaModal").show();
				
				/* Display JQuery UI based Modal Dialog */
				$("#ideaModalDialog").dialog('open');
			}
        	});
		/* Click Handler for Modal Close Button */
		$("#idea-modal-close").click(function (e) {
			/* Hide the Modal Window */
			$("#ideaModal").hide();
		});
		
		/* Create JQuery UI based Modal Dialog for Idea */
		$("#ideaModalDialog").dialog({modal:true, minWidth:900, minHeight: 540});
		/* Keep the Dialog Closed by default */
		$("#ideaModalDialog").dialog('close');
	});
</script>

{% endblock %}
