{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
	.idea-container {
		/* height: 222px; */
		/* Ensure Height is auto-adjusted as per elements in the Idea Container */
		height: auto;
		width: 300px;
		margin: 12px;
		position: relative;
		float: left;
		/* Border for Idea Container */
		border: 2px solid;
		border-color: rgba(127,255,0,1);
	}

		.idea-container:hover {
			/* Display Pointer on Mouse Hover */
			cursor: pointer;
			/* Display Bluish Background Color */
			background-color: rgba(153,50,204,.1);
		}

		.idea-container .idea-header {
			/* Green Color For Idea Container Header */
			background-color: rgba(127,255,0,0.85);
			height: 60px;
		}

			.idea-container .idea-header .idea-icon {
				float: left;
				margin: 10px 5px 5px 5px;
			}

				.idea-container .idea-header .idea-icon img {
					height: 45px;
					width: 45px;
				}

			.idea-container .idea-header .idea-header-text {
				float: left;
				margin: 10px 5px;
				/* Clip the Header Text Beyond 198px width */
				width: 231px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: clip;
			}

				.idea-container .idea-header .idea-header-text span {
					font-size: 27px;
					font-weight: 600;
					font-family: Segoe UI Light;
				}

		.idea-container .idea-sub-header {
			height: 60px;	
		}
	
		.idea-container .idea-sub-header .idea-sub-header-text {
			margin: 0px 5px;
		}

			.idea-container .idea-sub-header .idea-sub-header-text span {
				margin: 0px 5px;
				float: left;
				/* Font Specification */
				font-size: 14px;
				font-weight: 400;
				font-family: Segoe UI;
				/* Restrict Height to 2 lines */
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 20px;
				max-height: calc(2*20px);
			}
</style>

<div class="container">
	<hr>
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-send"></span> Ideas </h3>
			<!-- TODO: Add awesome code here! -->
		</div>
	</div> <!-- row -->
</div>
<div class="container">
	<div class="idea-main-container">
		<div class="idea-row">
			<div class="idea-container">
				<div class="idea-header">
					<div class="idea-icon">
						<img src="/static/activities/wake-up.png"/>
					</div>
					<div class="idea-header-text">
						<span title="SABI">SABI</span>
					</div>
				</div>
				<div class="idea-sub-header">
					<div class="idea-sub-header-text">
						<span title="The Global Conglomerate that controls the world">The Global Conglomerate that controls the world</span>
					</div>
				</div>
			</div>
			<div class="idea-container">
				<div class="idea-header">
					<div class="idea-icon">
						<img src="/static/activities/wake-up.png" />
					</div>
					<div class="idea-header-text">
						<span title="NIK">NIK</span>
					</div>
				</div>
				<div class="idea-sub-header">
					<div class="idea-sub-header-text">
						<span title="Natural Intermediate Knowledge">Natural Intermediate Knowledge</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
