{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Digital Diary</h1>
    <p>This is a digital diary that documents every activity you perform each day.</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this how digital diary works</h3>
      <ul>
        <li>Your personal assistant keeps interacting with you all day long and knows what you are upto each moment.</li>
        <li>All these special moments get automatically logged into the Digital Diary.</li>
        <li>You can login to the Digital Diary anytime and recollect all the special memories you created.</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
{% endblock %}